name: Generate catalog

on:
  workflow_run:
    workflows:
      - Preflight Test
    types:
      - requested

jobs:
  generate:
    name: Generate catalog
    runs-on: ubuntu-latest
    steps:
      - name: Update status
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          https://api.github.com/repos/${{ github.repository }}/statuses/${{ github.event.workflow_run.head_sha }} \
          -d '{
            "state":"pending",
            "target_url":"${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
            "description":"",
            "context":"${{ github.workflow }}"
          }'

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to registry.redhat.io
        uses: docker/login-action@v3
        with:
          registry: registry.redhat.io
          username: ${{ secrets.RH_USERNAME }}
          password: ${{ secrets.RH_TOKEN }}

      - name: Install OPM
        run: |
          make opm

      - name: Checkout the triggering workflow commit
        run: |
          git fetch origin "+refs/pull/*/head:refs/remotes/origin/pr/*"
          git checkout ${{ github.event.workflow_run.head_commit.id }}

      - name: Generate catalog
        env:
          COMMIT_MESSAGE: ${{ github.event.workflow_run.head_commit.message }}
          HEAD_REF: ${{ github.event.workflow_run.head_branch }}
        run: |
          echo "=== Generating catalog on ref ${HEAD_REF} ==="
          echo "SHA: ${{ github.event.workflow_run.head_sha }}"
          printf 'Message: %s\n' "${COMMIT_MESSAGE}"
          echo "==="

          export PATH=$PATH:${PWD}/bin
          git checkout origin/main -- ./build/generate-catalog.sh
          ./build/generate-catalog.sh

          echo "* Checking for changes..."
          if ! (git diff --color --exit-code); then
            echo "Failed: Regeneration required"
            printf '# Generate diff:\n\n```\n%s\n```\n' "$(git diff)" >> ${GITHUB_STEP_SUMMARY}
            exit 1
          else
            echo "Success!"
          fi

      - name: Update status
        if: always()
        run: |
          status="${{ job.status }}"

          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          "https://api.github.com/repos/${{ github.repository }}/statuses/${{ github.event.workflow_run.head_sha }}" \
          -d '{
            "state":"${{ job.status }}",
            "target_url":"${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
            "description":"'"${status^}"'",
            "context":"${{ github.workflow }}"
          }'
